body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.container {
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.arrow {
  cursor: pointer;
}

.image {
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bottom {
  margin-top: 20px;
}